<mat-toolbar color="primary">
  <span>Todo App</span>
  <span>
    <button mat-flat-button color="primary" aria-label="Users" routerLink="/welcome">
      <mat-icon>person</mat-icon> Home
    </button>
  </span>

  <span>
    <button mat-flat-button color="primary" aria-label="Users" routerLink="/list">
      <mat-icon>group</mat-icon> List
    </button>
  </span>

  <span>
    <button mat-flat-button color="primary" aria-label="Users" routerLink="/play">
      <mat-icon>group</mat-icon> Playground
    </button>
  </span>
</mat-toolbar>